@tailwind base;
@tailwind components;
@tailwind utilities;
 


.ListProperty {
  @apply grid justify-center;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 20px;

}
 
/* div.Hero {
  @apply grid justify-center;
  grid-template-columns: 0.8fr; Default setting for screens above md

  @screen md {
    grid-template-columns: 0.4fr 0.6fr; Adjust for screens md and below
  }
}



.inputs {
  @apply border h-8 rounded-lg w-[240px] outline-none px-1 py-3;
} */
/* .react-tel-input .form-control {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	height: 2.8125rem !important;
  /* padding-left: 0 !important;
  padding-right: 0 !important; */
	/* width: 104% !important; */
  /* padding-left: -20px !important/; */



/* .hide-number-arrows {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
} */

.custom-dropdown {
  appearance: none;
  background-color: transparent;
  border: 1px solid rgb(230, 230, 230);
  padding: 0 14px;
  padding-right: 12px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  border-radius: 6px;
  height: 45px;
}

.custom-dropdown option {
  /* transition: background-color 0.5s ease-in-out; */
  font-size: 16px;
  margin-top: 5px;
  color: #333;
  background-color: #fff;
  padding: 10px;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
  
}
