@tailwind base;
@tailwind components;
@tailwind utilities;
 

 
/* div.Hero {
  @apply grid justify-center;
  grid-template-columns: 0.8fr; Default setting for screens above md

  @screen md {
    grid-template-columns: 0.4fr 0.6fr; Adjust for screens md and below
  }
}

.inputs {
  @apply border h-8 rounded-lg w-[240px] outline-none px-1 py-3;
} */
.react-tel-input .form-control {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	height: 2.8125rem !important;
  /* padding-left: 0 !important;
  padding-right: 0 !important; */
	width: 104% !important;
  /* padding-left: -20px !important/; */
}
