@tailwind base;
@tailwind components;
@tailwind utilities;
 

/* Add this to your existing styles or create a separate stylesheet */
.scrollbar-container::-webkit-scrollbar {
  width: 6px;
  background-color: #d1e4ff;
 /* Set the width of the scrollbar track */
}

.scrollbar-container::-webkit-scrollbar-thumb {
  background-color: #006AFF;  /* Make the scrollbar thumb transparent to hide it */  
}


.ListProperty {
  @apply grid justify-center;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 20px;

}
 
.dashboard {
  @apply grid;
  grid-template-columns: 268px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
  'sidebar header header header'
  'sidebar pagepart pagepart pagepart';
  /* height: 100%; */
}


.header{
  @apply grid;
  grid-area: header;
  border-bottom: 1px rgb(225, 225, 225) solid; 
}

.sidebar{
  @apply grid;
  grid-area: sidebar;
}

.dashboard{
  @apply grid;
  grid-area: pagepart;
}


.custom-dropdown {
  appearance: none;
  background-color: transparent;
  border: 1px solid rgb(230, 230, 230);
  padding: 0 14px;
  padding-right: 12px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  border-radius: 6px;
  height: 45px;
}

.custom-dropdown option {
  /* transition: background-color 0.5s ease-in-out; */
  font-size: 16px;
  margin-top: 5px;
  color: #333;
  background-color: #fff;
  padding: 10px;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
  
}
